.sliderButtonNext {
    width: 30px;
    height: 40px; 
    border: none;
    border-radius: 20px; 
    background-color: #eeeded;
    position: absolute;
    top: 55%;
    left: 65%;
    cursor: pointer;
  }

  .sliderButtonPrev{
    width: 30px;
    height: 40px; 
    border: none;
    border-radius: 20px; 
    background-color: #eeeded;
    position: absolute;
    top: 55%;
    left: 33%;
    cursor: pointer;
  }

button:hover {
    background-color: #eb983e;
}

.slideShowImg {
  position: relative;
  height: 600px;
  width: 400px;

   /* Center the element horizontally */
  padding-top: 7%; /* Ensure it starts from the top */
  left: 36%;
  transform: none; /* Remove the transform */
}
